body {
    background: #e9e7e7;
}

.estilosContenedor {
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
    background: rgb(141, 129, 250);
}

.tareaCompletada {
    color: #ffffff;
    text-decoration: line-through;
}